body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    color:#9f2241;
}

.container__principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    margin: 0 0 5px;
}

.page-subtitle {
    margin-top: 5px;
}

.page-logo {
    width: 350px;
    margin-top: .6rem;
}

.logo-cdmx {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 1rem 1rem 0 0;
}

body > img {
    margin: 0 10px;
}

img {
    max-height: 250px;
}

/*INPUT*/
.container__datos{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.paragraph{
    font-size: 1.2rem;
}

.paragraph__bold{
    font-weight: bold;
    font-size: 1.4rem;
}

.input__peatones{
    font-size: 1rem;
    width: 16rem;
    height: 1.6rem;
    margin: 1rem 0 0 0;
}

.boton__enviar{
    color: #9f2241;
    font-size: 1rem;

    width: 4.2rem;
    height: 2rem;
    margin-left: .5rem;
    margin-top: 1rem;
}

.boton__enviar:hover{
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #9f2241;
    width: 4.4rem;
    height: 2.2rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.resultado{
    display: flex;
    flex-direction: column;
}

.caja{
    font-family: "Roboto Mono";
    font-size: 1.2rem;
}

.contenedor__informacion__principal{
    display: flex;
}

.parrafo__script{
    font-size: 1.2rem;
}

.contenedor__botones{
    
    margin-top: 1rem;
}

.boton__clima{
    width: 12rem;
    height: 2rem;
    
    font-size: 1rem;
    color: white;
    font-weight: bold;

    cursor: pointer;
    border-radius: .4rem;
}

.boton__clima__bueno{
    border-color: green;
    background-color: green;
}

.boton__clima__bueno:hover{
    background-color: white;
    color: green;    
}

.boton__clima__regular{
    border-color: rgb(239, 239, 6);
    background-color: rgb(239, 239, 6);
}

.boton__clima__regular:hover{
    background-color: white;
    color: rgb(239, 239, 6);    
}

.boton__clima__mala{
    border-color: orange;
    background-color: orange;
}

.boton__clima__mala:hover{
    background-color: white;
    color: orange;    
}

.boton__clima__muy__mala{
    border-color: red;
    background-color: red;
}

.boton__clima__muy__mala:hover{
    background-color: white;
    color: red;    
}

.boton__clima__extremadamente{
    border-color: rgb(102, 9, 102);
    background-color: rgb(102, 9, 102);
}

.boton__clima__extremadamente:hover{
    background-color: white;
    color: rgb(102, 9, 102); 
}